:root{
  /* site properties */
  --scale: 1;
  --font-size: 20rem;

  /* colorscheme */
  --background: #fff;
  --color-salmon: #eddcdc;
  --color-beige: #edc6ba;
  --color-light: white;
  --color-dark: black; 
  --color-gray: #e4e4e4;
  --color-teal: #47dfe9;

  /* constraints */
  --content-max-width: 1092px;
  --max-width: 1400px;
}